<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jca02266" />
  <meta property="og:title" content="FlingCode" />
  <meta property="og:image" content="@url@/images/summary.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/vs.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
  <script src="libs/lz-string.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
  </script>

  <style>
    .hljs-ln-numbers {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      text-align: center;
      color: #ccc;
      border-right: 1px solid #CCC;
      vertical-align: top;
      padding-right: 5px;
    }

    .hljs-ln-code {
      padding-left: 10px;
    }

    .source {
      resize: none;
      color: #2c2c2c;
      border: 1px solid #dbdbdb;

      width: 80%;
      height: 120px;
      font-size: 1em;
      line-height: 1.2;

      white-space: pre;
      overflow-wrap: normal;
      overflow: auto;

    }

    .url {
      resize: none;
      color: #7b7b7b;
      border: 1px solid #dbdbdb;

      width: 80%;
      height: 3em;
      font-size: 1em;
      line-height: 1.2;

      overflow: auto;
    }
    .subheading {
        color: #525252;
        font-size: small;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer app>
      </v-navigation-drawer>
      <v-app-bar app>
          <v-toolbar-title>
            FlingCode
            <span class="subheading">Easy to share code</span>
          </v-toolbar-title>
      </v-app-bar>

      <v-main>
        <v-container class="pa-md-4 mx-lg-auto">

          <v-row no-gutters class="my-1">
            <v-col cols="12" sm="1" md="1">Languages:</v-col>

            <v-card cols="4" class="px-1">
              <v-autocomplete v-model="selectedLang" item-text="name" item-value="id" :items="languages"></v-autocomplete>
            </v-card>
          </v-row>

          <v-row no-gutters class="my-1">
            <v-col cols="12" sm="1" md="1">Source:</v-col>

            <textarea class="source pa-1" v-model="source" v-on:input="changeCode"
              placeholder="Please paste your source code here."></textarea>
          </v-row>

          <v-row no-gutters class="my-1">
            <v-col cols="12" sm="1" md="1">URL:</v-col>
            <textarea readonly class="url" v-bind:value="url"></textarea>
          </v-row>
          <v-row no-gutters class="my-1">
            <v-col cols="12" sm="1" md="1">Code:</v-col>
            <v-card height="80%" class="scroll">
              <pre><code v-bind:class="computeLang" ref="code"> </code></pre>
            </v-card>
          </v-row>
        </v-container>

      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    "use strict"

    const languageNames = {
      apache          : "Apache config",
      bash            : "Bash",
      c               : "C",
      coffeescript    : "CoffeeScript",
      cpp             : "C++",
      csharp          : "C#",
      css             : "CSS",
      diff            : "Diff",
      go              : "Go",
      http            : "HTTP",
      ini             : "INI, TOML",
      java            : "Java",
      javascript      : "JavaScript",
      json            : "JSON",
      kotlin          : "Kotlin",
      less            : "Less",
      lua             : "Lua",
      makefile        : "Makefile",
      markdown        : "Markdown",
      nginx           : "Nginx config",
      objectivec      : "Objective-C",
      perl            : "Perl",
      php             : "PHP",
      "php-template"  : "PHP Template",
      plaintext       : "Plain text",
      properties      : "Java Properties",
      python          : "Python",
      "python-repl"   : "Python REPL",
      r               : "R",
      ruby            : "Ruby",
      rust            : "Rust",
      scss            : "SCSS",
      shell           : "Shell Session",
      sql             : "SQL",
      swift           : "Swift",
      typescript      : "TypeScript",
      vbnet           : "Visual Basic .NET, VB",
      xml             : "HTML, XML",
      yaml            : "YAML",
    }
    const data = {
      source: `Dim x as String
' コメント
Debug.Print "Hello, World"`,
      selectedLang: "auto"
    }
    const vm = new Vue({
      el: '#app',
      data: data,
      vuetify: new Vuetify(),
      created: function () {
        this.languages = []
        this.languages.push({ name: this.selectedLang, id: this.selectedLang })
        const compare = new Intl.Collator('en').compare
        hljs.listLanguages().sort((a, b) => compare(languageNames[a], languageNames[b])).forEach((id, i) => {
            console.log(id)
          this.languages.push({ name: languageNames[id], id: id })
        })
        this.location = location.href.replace(/\?.*/, '')
        if (location.search) {
          const query = location.search.startsWith("?") ? location.search.slice(1) : location.search
          const params = query.split('&').map((param) => param.split('='))
          console.log(params)
          for (const param of params) {
            if (param[0] === "source") {
              const base64string = param[1]
              const source = LZString.decompressFromBase64(base64string)
              if (source) {
                this.source = source
              }
            }
            if (param[0] === "lang") {
              const selectedLang = param[1]
              if (hljs.listLanguages().includes(selectedLang)) {
                this.selectedLang = selectedLang
              }
            }
          }
        }
      },
      mounted: function () {
        if (this.source) {
          this.changeCode();
        }
      },
      computed: {
        computeLang: function () {
          if (this.selectedLang === "auto") {
            return null
          } else {
            return "language-" + this.selectedLang
          }
        },
        url: function () {
          const base64string = LZString.compressToBase64(this.source)

          return this.location + `?lang=${this.selectedLang}&source=${base64string}"`
        }
      },
      methods: {
        escapeHTML: function(value) {
          return value
              .replace(/&/g, '&amp;')
              .replace(/</g, '&lt;')
              .replace(/>/g, '&gt;')
              .replace(/"/g, '&quot;')
              .replace(/'/g, '&#x27;');
        },
        changeCode: function (e) {
          this.$refs.code.innerHTML = this.escapeHTML(this.source);
          hljs.highlightBlock(this.$refs.code);
          hljs.lineNumbersBlock(this.$refs.code);
        }
      }
    })

  </script>
</body>

</html>
